{{ template "header" . }}
<h1>パスワード編集</h1>
{{ if .Error }}
<p><font color="#FF0000">{{ .Error }}</font></p>
{{ end }}
<form action="/user/edit/password" method="POST">
    <label>ユーザー名</label>
    <input type="text" name="name" value="{{ .Name }}">
    <br>
    <label>変更前パスワード</label>
    <input type="text" name="old_password" value="{{ .OldPassword }}">
    <br>
    <label>新パスワード</label>
    <input type="text" name="new_password" value="{{ .NewPassword }}">
    <input type="submit" value="変更">
</form>
<form action="/user/edit" method="GET">
    <input type="submit" value="戻る">
</form>
{{ template "footer" }}